<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Предсказание кода ОКПД-2</title>
</head>
<body>
    <h2>Введите данные для предсказания кода ОКПД-2</h2>
    <form action="/predict" method="post">
        <label for="duration">Длительность работ (в секундах):</label><br>
        <input type="text" id="duration" name="duration" required><br><br>

        <label for="price">Цена контракта:</label><br>
        <input type="text" id="price" name="price" required><br><br>

        <label for="description">Объект закупки:</label><br>
        <textarea id="description" name="description" rows="4" cols="50" required></textarea><br><br>

        <input type="submit" value="Предсказать">
    </form>

    {% if prediction_text %}
        <h3>{{ prediction_text }}</h3>
    {% endif %}
</body>
</html>
